# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build folders
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# User-specific files
*.swp
*~
.DS_Store
Thumbs.db

# IDE and editor folders
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
*.db

# Other
*.bak
*.tmp

# Omitted folders
.idea/
build/
